streamlit==1.36.0
sqlalchemy>=2.0,<2.1
pandas>=2.2,<2.3
Pillow>=10,<11
numpy>=1.26,<2.1
ImageHash>=4.3.1
pycountry>=22.3.5
qrcode>=7.4.2

# Opcional (câmera avançada com autofoco + face detect)
streamlit-webrtc==0.47.1
aiortc==1.5.0
av==11.0.0
opencv-python-headless==4.9.0.80
